<h3 class="mt-5 mb-3 text-center fw-bold">Add new task</h3>
<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">

    <div class="d-flex justify-content-center mb-3">
        <div class="form-group w-50">
            <label class="form-label fw-bold">Title:</label>
            <input class="form-control" type="text" [formControlName]="'title'">
            <span *ngIf="!taskForm.get('title')?.valid && taskForm.get('title')?.touched" class="help-block">
                Please enter a title
            </span>
        </div>
    </div>
    <div class="d-flex justify-content-center mb-3">
        <div class="form-group w-50">
            <label class="form-label fw-bold">Content:</label>
            <textarea class="form-control" rows="5" [formControlName]="'content'"></textarea>
            <span *ngIf="!taskForm.get('content')?.valid && taskForm.get('content')?.touched" class="help-block">
                Please enter content
            </span>
        </div>
    </div>

    <div class="row justify-content-center mb-3">
        <div class="col-md-3 mb-3">
            <label class="form-label fw-bold">Start:</label>
            <input class="form-control" type="date" [formControlName]="'start'">
            <span *ngIf="!taskForm.get('start')?.valid && taskForm.get('start')?.touched" class="help-block">
                Please choose a date
            </span>
        </div>
        <div class="col-md-3 mb-3">
            <label class="form-label fw-bold">End:</label>
            <input class="form-control" type="date" [formControlName]="'end'">
            <span *ngIf="!taskForm.get('end')?.valid && taskForm.get('end')?.touched" class="help-block">
                Please choose a date
            </span>
        </div>
    </div>

    <div class="row justify-content-center mb-3">
        <div class="col-md-3 mb-3">
            <label class="form-label fw-bold">Priority:</label>
            <select class="form-control" [formControlName]="'priority'">
                <option value="High">High</option>
                <option value="Medium">Medium</option>
                <option value="Low">Low</option>
            </select>
            <span *ngIf="!taskForm.get('priority')?.valid && taskForm.get('priority')?.touched" class="help-block">
                Please select a priority
            </span>
        </div>
        <div class="col-md-3 mb-3">
            <label class="form-label fw-bold">Status:</label>
            <select class="form-control" [formControlName]="'status'">
                <option value="Pending">Pending</option>
                <option value="In Processing">In Processing</option>
                <option value="Done">Done</option>
            </select>
            <span *ngIf="!taskForm.get('status')?.valid && taskForm.get('status')?.touched" class="help-block">
                Please select a status
            </span>
        </div>
    </div>

    <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-primary w-50" [disabled]="taskForm.invalid" type="submit">Submit</button>
    </div>
</form>